@import url('reset.css');
body{
	font-family: Arial;
	font-size: 14px;
	color: #efefef;
	line-height: 1.6;
	background-image: url(../img/ldWIrQyqRA_small.jpeg);

}

.top{
	background-color: black;
	height: 120px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}
.wrapper{
	width: 1900px;
	margin: 0 auto;
}
.top img{
width: 150px;
height: 70px;
text-align: center; 
padding-left: 30px;
padding-top: 20px;

}
.top ul{
	float: right;;
	margin-right: 50px;
	top: 10px;
	padding-top: 20px;
}

.top li{
	float: left;
	padding-right:  20px;

}

.top li a{
	color: white;
	display: block;
	line-height: 70px;
	padding: 0 20px;
	text-decoration:none;
	height: 80px;
	line-height: 80px;
	font-size:30px;
	font-weight: bold;



}

.top li a:hover{
	color: yellow;
	background-color: rgba(255,255,255,.4);
	/*background-color: yellow;*/
	box-shadow: 10px 10px 10px rgba(0,0,0,.4);
	border-left: .5px solid white;

}
.none1 img{
	width: 700px;
	float: left;
	margin-right: 150px;
	animation: pic 5s 1s infinite;
}
@keyframes pic{
	0%{
		border: 20px solid yellow;
	}
	50%{
		border: 10px solid white;
	}
	70%{
		border: 20px solid rgba(255,255,255,.6);
	}
	100%{
		border: 10px solid yellow;
	}
}
.int1{
	/*display: flex;*/
	text-align: left;
	width: 50%;
	font-size: 30px;
	/*flex-wrap: wrap;*/
	float: right;
}


.none1{
	margin-top: 150px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

}


.none1 a{
	font-size: 50px;
	display: block;
	color: brown;
	font-weight: bold;
	background-color: yellow;
	width: 350px;
	text-align: center;
	text-decoration: none;
	margin-top: 50px;
	border-radius: 10px 10px 10px 10px;
	margin-bottom: 40px;


}
.none1 a:hover{
	box-shadow: 20px 20px 20px 20px rgba(255,255,255,.3);
	text-shadow: 5px 5px 5px rgba(0,0,0,.2);
}
h3,h1{
	font-size: 80px;
	text-align: center;
}
h1{
	margin-top: 200px;
	animation: word 2s 2s infinite;
}
@keyframes word{
	0%{
		font-size: 80px;
		color: yellow;
	}
	50%{
		font-size: 100px;
	}
	100%{
		font-size:90px;
		color: rgba(255,255,255,.6)
	}
}
h1{
	font-size: 100px;
}

span{
	width: 100%;
	height: 10px;
	background-color: rgba(255,255,255,.6);
	display: block;
	margin-bottom: 20px;
}


h2{
	border: 5px solid rgba(255,255,255,.8);
	display: block;
	width: 250px;
	margin-bottom: 40px;
	text-align: left;
	padding-left: 10px;
	border-radius: 20px;
}
p{
	margin-bottom: 10px;
}
 ul> li{
	float: left;
  position: relative;
}

ol{
  width: 260px;
  border: 1px solid #ccc;
  background-color: rgba(255,255,255,.4);

  position: absolute;
  left: 0;
  top: 80px;

  display: none;
}


.top ol > li > a{
  display: block;
  line-height: 40px;
  text-align: center;
  color: white;
  text-decoration: none;
}

ol > li > a:hover{
  background-color: rgba(255,255,255,.4);
  width: 100%;
  display: block;
  font-size: 40px;
}

/* ------------- hover & show ------------- */
ul > li:hover ol{
  display: block;


