@import url('reset.css');
body{
	font-family: Arial;
	font-size: 14px;
	color: #86878b;
	line-height: 1.6;
	background-image: url(../img/ldWIrQyqRA_small.jpeg);
}
.top{
	background-color: black;
	height: 120px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
/*	margin-bottom: 200px;*/
}
.wrapper{
	width: 1900px;
	margin: 0 auto;
}
	

.top img{
width: 150px;
height: 70px;
text-align: center; 
padding-left: 30px;
padding-top: 20px;

}
.top ul{
	float: right;;
	margin-right: 50px;
	top: 10px;
	padding-top: 20px;

}

.top li{
	float: left;
	padding-right:  20px;

}

.top li a{
	color: white;
	display: block;
	line-height: 70px;
	padding: 0 20px;
	text-decoration:none;
	height: 80px;
	line-height: 80px;
	font-size:30px;
	font-weight: bold;

}

.top li a:hover{
	color: yellow;
	background-color: rgba(255,255,255,.4);
	/*background-color: yellow;*/
	box-shadow: 10px 10px 10px rgba(0,0,0,.4);
	border-left: .5px solid white;

}

/*form*/
ul> li{
	float: left;
  position: relative;
}

ol{
  width: 260px;
  border: 1px solid #ccc;
  background-color: rgba(255,255,255,.4);

  position: absolute;
  left: 0;
  top: 80px;

  display: none;
}


.top ol > li > a{
  display: block;
  line-height: 40px;
  text-align: center;
  color: white;
  text-decoration: none;
}

ol > li > a:hover{
  background-color: rgba(255,255,255,.4);
  width: 100%;
  display: block;
  font-size: 40px;
}

/* ------------- hover & show ------------- */
ul > li:hover ol{
  display: block;}

/*main*/
.main img{
display: block;
  margin: 200px auto;
  width: 50%;
}
h1{
  text-align: center;
  font-size: 200px;
  font-weight: bold;
  margin-bottom: 50px;
  color: white;
background-color: black;
margin-top: 200px;
border-radius: 130px;
animation: words 2s 3s infinite;
}
@keyframes words{
	0%{
		border: 3px solid purple;
		box-shadow: 30px 30px 30px 25px rgba(255,255,255,.3);
		text-shadow: 20px 20px 20px  rgba(0,0,0,.6);
		transform: rotate(5deg);

	}
	50%{
		border: 5px solid purple;
		box-shadow: 40px 40px 40px 35px rgba(255,255,255,.6);
		text-shadow: 20px 20px 20px  rgba(0,0,0,.7);
		transform: rotate(0deg);


	}
	100%{
		border: 3px solid purple;
		box-shadow: 30px 30px 30px 25px rgba(255,255,255,.5);
	text-shadow: 20px 20px 20px rgba(233,233,233,.7);
	transform: rotate(-5deg);


	}
}


/*.main{
	  margin: 0 auto;
	  text-align: center;
	  width: 1900px;
	  height: 1000px;
}*/
 





.main ul{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
.main a{
 display: flex;
  width: 1500px;
  height: 900px;
  background-color: rgba(100,100,100,.5);
  border: 1px solid #ccc;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  color: #000;
  text-decoration: none;
  transition: .3s;
  flex-direction: column;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
}
.main li{
  margin-bottom: 200px;
  flex-basis: 500px;
  width: 1000px;
 /*margin: 50px auto;*/
 height: 1000px;
 margin-top: 50px;
 text-align: center;
  
}
.main p{
  text-align: center;
  transition: .3s;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 80px;
  padding-right: 40px;
}
.main a:hover{
  filter: invert(80%);

}

.main li img{
	width: 1000px;
  transition: .3s;
  display: block;
  bottom: 50px;

}


a:hover p{
  color: purple;
}

.main li:nth-child(odd){
margin-left: 600px;
}


.main li:nth-child(4){
margin-left: 400px;
}

.main li:first-child{
margin-left: 800px;
}


.main li:nth-first{
margin-left: 200px;
}

h2{
	color: yellow;
	font-size: 200px;
	text-shadow: 20px 20px 20px rgba(255,255,255,.4);
	/*background-color: white;
	margin-right: 100px;*/
}

span{
	height: 30px;
	background-color: white;
	margin-top: 100px;
	width: 2700px;
	display: block;

}






